{
  "root": true,
  "ignorePatterns": ["**/*.spec.js", "**/*.test.js", "./node_modules/*", "./build/*"],
  "extends": ["google", "prettier", "plugin:react/recommended", "../.eslintrc"],
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
